.nav-bar {
  display: block;
  width: 100%;


  .header {
    display: block;
    height: 6rem;//60px;

    h1 {
      margin: 0;
      border-top: 0.5rem solid $hover-color;
      text-align: center;
      font-family: "Montserrat-Bold";
      font-size: 5rem;

      a {
        font-family: "Montserrat-Bold";
        bottom: 1rem;
        position: relative;
        color: $hover-color;
      }
    }
  }

  .main-nav {
    text-align: center;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    margin-top: 1.6rem;
    font-family: "Montserrat-Light";
    a {
      margin: 0 1.5rem;
    }
    a:hover {
      color: $hover-color;
    }
  }
}

.sub-nav {
  ul {
    margin: 0;
    padding: 0;

    a {
      margin: 0 3rem 0 0;
      text-transform: lowercase; // uppercase;
      font-family: "Montserrat";
    }
  }
}
